body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    font-family: 'Helvetica Neue', sans-serif;
    cursor: pointer; 
}

#particle-heart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10; /* más alto que otros elementos */
    pointer-events: auto; /* asegúrate de que reciba eventos */
    touch-action: auto; /* o prueba 'manipulation' */
}


#instructions {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    z-index: 3;
    animation: fadeOut 5s forwards;
    animation-delay: 2s;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.message-container {
    position: relative; /* ya tienes */
    z-index: 20; /* sube por encima del canvas */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin-top: 400px;
}


#love-message {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    margin-bottom: 300px;
}

/* Media queries para móvil */
@media (max-width: 600px) {
    #instructions {
        font-size: 0.8rem;
        top: 10px;
    }

    .message-container {
        margin-top: 150px; /* Menor espacio arriba para que no baje tanto */
    }

    #love-message {
        font-size: 1.5rem; /* Texto más pequeño en móvil */
        margin-bottom: 100px; /* Menor espacio abajo */
    }
}
